<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/adminLayout/baseUi :: baseLayout('MindScribe - All Post', ~{::section})}">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Tables / General - NiceAdmin Bootstrap Template</title>

</head>

<body>
	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>General Tables</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Home</a></li>
						<li class="breadcrumb-item">Tables</li>
						<li class="breadcrumb-item active">General</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<section class="section">
				<div class="row">
					<div class="col-lg-12">

						<div class="card">
							<div class="card-body">
								<h5 class="card-title">All Blogs</h5>

								<!-- Table with hoverable rows -->
								<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">Sno</th>
											<th scope="col">Blog Title</th>
											<th scope="col">Short Description</th>
											<th scope="col">Created Date</th>
											<th scope="col">Status</th>
											<th scope="col">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Brandon Jacob</td>
											<td>Designer</td>
											<td>28</td>
											<td>2016-05-25</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Bridie Kessler</td>
											<td>Developer</td>
											<td>35</td>
											<td>2014-12-05</td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>Ashleigh Langosh</td>
											<td>Finance</td>
											<td>45</td>
											<td>2011-08-12</td>
										</tr>
										<tr>
											<th scope="row">4</th>
											<td>Angus Grady</td>
											<td>HR</td>
											<td>34</td>
											<td>2012-06-11</td>
										</tr>
										<tr>
											<th scope="row">5</th>
											<td>Raheem Lehner</td>
											<td>Dynamic Division Officer</td>
											<td>47</td>
											<td>2011-04-19</td>
										</tr>
									</tbody>
								</table>
								<!-- End Table with hoverable rows -->
								<!-- Pagination with icons -->
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center">
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>
								<!-- End Pagination with icons -->
							</div>
						</div>

					</div>
				</div>
			</section>

		</main>
		<!-- End #main -->
	</section>
</body>

</html>