<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/baseUi :: baseLayout('MindScribe - Page Not Found', ~{::section})}">
<head>
<meta charset="UTF-8">
<title>Page Not Found</title>
</head>
<body>
	<section>
		<section class="error-page">
			<div class="container">
				<h1>404</h1>
				<h2>Oops! Page Not Found</h2>
				<p th:text="${error}">The page you are looking for might have been removed, had its
					name changed, or is temporarily unavailable.</p>
				<a class="btn" onClick="window.history.back()">Go Back</a>
			</div>
		</section>
	</section>
</body>
</html>
